<style>
    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.si.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTkxODA0MDgxMjI2OTE3MzYy/generic-football.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
</style>
<div class="hero is-fullheight is-link hero-image">
  <div class="hero-body is-justify-content-center is-align-items-center">
    <div class="columns is-flex is-flex-direction-column box" style="height: 435px; margin-bottom: 0px; margin-top: 0px; margin-right: 0px; margin-left: 0px;">
        <h2 class="title has-text-dark has-text-centered">Reset Password</h2>
        <div class="column p-2">
            <label for="email">Email</label>
            <div class="control has-icons-left">
            <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
            <span class="icon is-small is-left">
              <i class="ri-mail-send-line"></i>
            </span>
          </div>
        </div>
        <div class="column p-2">
          <label for="Name">Password</label>
          <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" required>
            <span class="icon is-small is-left">
              <i class="ri-lock-password-fill"></i>
            </span>
          </div>
        </div>
        <div class="column p-2">
          <label for="Name">Re-Enter Password</label>
          <div class="control has-icons-left">
            <input type="password" placeholder="*******" class="input" required>
            <span class="icon is-small is-left">
              <i class="ri-lock-password-fill"></i>
            </span>
          </div>
        </div>
        <div class="column">
            <button class="button is-link is-fullwidth" style="top: 57%;" type="submit">Reset</button>
        </div>
    </div>
  </div>
</div>


