{{!-- Hero Banner --}}
<div class="hero-image">
  <div class="hero-text athText">
    <h1 class="is-uppercase has-text-white">College Football <br>Roster Builder</h1>
  </div>
</div>

{{!-- Level Stats --}}
<nav class="level pt-5 mr-5 ml-5">
  <div class="level-item has-text-centered">
    <div>
      <p class="title">Active Users</p>
      <p class="title">13,576</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title">Games Recorded</p>
      <p class="title">500+</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title">Players Tracked</p>
      <p class="title">~187,000</p>
    </div>
  </div>
</nav>


{{!-- Dev Section --}}
<section class="section">
  <div class="container">
    <h2 class="title">Developers</h2>
    <p class="subtitle">Meet the team!</p>
      <div class="columns">
        <div class="column">
          {{!-- Kasen Card --}}
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by4">
                <img src="https://kinsta.com/wp-content/uploads/2018/04/what-is-github-1-1.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/48495917?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Kasen Brugh</p>
                  <p class="subtitle is-6"><a class="has-text-dark" href="https://github.com/BrughK" target="_blank" rel="noopener noreferrer">@BrughK</a></p>
                </div>
              </div>

              <div class="content">
                Fullstack Engineer
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          {{!-- Jacob Card --}}
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by4">
                <img src="https://kinsta.com/wp-content/uploads/2018/04/what-is-github-1-1.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/55941541?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Jacob Hester</p>
                  <p class="subtitle is-6"><a class="has-text-dark" href="https://github.com/jakester101" target="_blank" rel="noopener noreferrer">@jakester101</a></p>
                </div>
              </div>

              <div class="content">
                Fullstack Engineer
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          {{!-- Junho Card --}}
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by4">
                <img src="https://kinsta.com/wp-content/uploads/2018/04/what-is-github-1-1.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/109125494?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Junho Kim</p>
                  <p class="subtitle is-6"><a class="has-text-dark" href="https://github.com/gengamask" target="_blank" rel="noopener noreferrer">@gengamask</a></p>
                </div>
              </div>

              <div class="content">
                Fullstack Engineer
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          {{!-- Noah Card --}}
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by4">
                <img src="https://kinsta.com/wp-content/uploads/2018/04/what-is-github-1-1.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/120499139?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Noah Berg</p>
                  <p class="subtitle is-6"><a class="has-text-dark" href="https://github.com/Noahwberg" target="_blank" rel="noopener noreferrer">@Noahwberg</a></p>
                </div>
              </div>

              <div class="content">
                Fullstack Engineer
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>