<div class="hero is-fullheight is-link">
    <div class="hero-body is-justify-content-center is-align-items-center">
        {{!-- Login Box--}}
        <div class="columns is-flex is-flex-direction-column box" style="height: 435px; margin-bottom: 0px; margin-top: 0px; margin-right: 0px; margin-left: 0px;">
            <h2 class="title has-text-dark has-text-centered">Login</h2>
            <div class="column p-2">
                <label for="email">Email</label>
                <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <i class="ri-mail-send-line"></i>
                </span>
              </div>
            </div>
            <div class="column p-2">
                <label for="Name">Password</label>
                <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="ri-lock-password-fill"></i>
                </span>
              </div>
                <a href="" class="is-size-7 has-text-link">Forgot Password?</a>
            </div>
            <div class="column">
                <button class="button is-link is-fullwidth" style="top: 57%;" type="submit">Login</button>
            </div>
            
        </div>
        {{!-- Sign Up Box --}}
        <div class="columns is-flex is-flex-direction-column box m-5">
            <section>
                <h2 class="title has-text-dark has-text-centered">Signup</h2>
            <div class="column p-2">
                <label for="email">Username</label>
                <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <i class="ri-folder-user-fill"></i>
                </span>
              </div>
            </div>
            <div class="column p-2">
                <label for="email">Email</label>
                <div class="control has-icons-left">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
                <span class="icon is-small is-left">
                  <i class="ri-mail-send-line"></i>
                </span>
              </div>
            </div>
            <div class="column p-2">
                <label for="Name">Password</label>
                <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="ri-lock-password-fill"></i>
                </span>
              </div>
                <a href="" class="is-size-7 has-text-link">Forgot Password?</a>
            </div>
            <div class="column">
                <button class="button is-link is-fullwidth" type="submit">Sign Up!</button>
            </div>
            </section>
        </div>
    </div>
</div>


<script src="../public/js/login.js"></script>